{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}


{% block body %}
<h1>Carte crée</h1>
<li>{{cardLast.codeCentre}}--{{cardLast.codeCard}}--{{cardLast.checksum}}</li>
<a href="{{ path('app_admin_card_index') }}"
   class="btn btn-outline-secondary">
    Retour
</a>


    {% endblock %}