{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <p>Retrouvez-nous au 21 avenue Gustave Eiffel, 21000 Dijon!!!!</p>

</div>

   <div class="example-wrapper" style="height:360px; width:360px">
      <div id="macarte" class="map-blur m-0" style="height: 360px; width: 360px"></div>
   </div>


{% endblock %}


{% block javascripts %}
   <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
           integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
           crossorigin=""></script>
   <script>
      if (document.getElementById('macarte') !== null) {
         var coords = null;
         /*Affichage carte*/
         var carte = L.map('macarte').setView([47.316667, 5.016667], 12);

         L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
         }).addTo(carte);

      }

      function laserPosition(){

         var marker = L.marker([47.314935, 5.023328]);
         marker.addTo(carte);
      }
      laserPosition();




   </script>
{% endblock %}