{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Le jeu {% endblock %}

{% block body %}

    <br>
    <div id="example-wrapper" class="container">
        <div class="notification">
          <h3 class="title is-3">Les Règles de Fair-Play</h3>

                <p><strong>Corps à corps interdits! </strong><br>Si 2 adversaires se touchent ou se retrouvent face à face et que les pistolets peuvent se toucher, les 2 joueurs se tournent le dos et partent en direction opposée sans se tirer dessus bien sûr !

                    Il est formellement interdit de prendre le pistolet adverse. Attention certains contacts peuvent être dangereux.</p>

                <br>
                <p><strong>Chasse interdite! </strong><br>Si un joueur désactive un adversaire, le tireur ne doit pas continuer à suivre sa cible première intentionnellement pour la shooter de nouveau ! Idem pour le joueur qui a été touché.</p>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="notification">
            <h3 class="title is-3">Règles de tournoi</h3>

            <p>Les règles de tournois prennent en compte bien sûr les règles classiques, elles sont souvent utilisées par les adhérents.

                <br><br>

                <strong>T’es shooté: tu descends !</strong><br>
                Si un joueur est sur une hauteur et se fait désactiver il doit immédiatement descendre ! Cette règle permet de brasser plus le jeu et d'éviter qu'un joueur passe toute la partie sur une hauteur.

                <br><br>

                <strong>Prise de Zone :</strong><br>
                Si un joueur se fait éteindre, il est obligé de quitter la zone dans laquelle il se trouve.

            </p>
        </div>
    </div>
    <br>

{% endblock %}