{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
<<<<<<< HEAD
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
=======

>>>>>>> e2ffae5a9919f5a289179844838def25157e6c2e
    <h1>Ajout d'un user</h1>


    {{ form_start(form) }}


    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_user_index') }}"
           class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
    {{ form_end(form) }}

    </div>
{% endblock %}



