{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ user.lastname }}</td>
        </tr>

        <tr>
            <th>Photo</th>
            <td>{{ user.firstname }}</td>
        </tr>

        </tbody>
    </table>
{% endblock %}



